@page "/all"
@model ViewToDoItemsModel
@{
}

<h2 style="margin-bottom: 30px">View all todo items</h2>

<div class="flex-container" style="margin-bottom: 10px;">
  @{
      foreach(var item in @Model.ToDoItems) {
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">@item.name</h5>
              <h6 class="card-subtitle mb-2 text-muted">Description</h6>
              <p class="card-text">@item.description</p>
            </div>
          </div>
      }
  }
</div>

<a asp-page="NewToDoItem">Create New Item</a>
